ppgs
matplotlib
numpy

# torchcodec problem help: https://discuss.huggingface.co/t/cannot-load-torchcodec/169260/4

# conda install -c conda-forge ffmpeg

# MUST install correct torch for your system
# pip install torch torchvision --index-url https://download.pytorch.org/whl/cu126
